.script-font {
  font-family: 'Great Vibes', cursive;
}
/* Custom underline line below images */
.underline-line {
  width: 1px;
  height: 80px;
  background-color: #a87f6f;
  margin-top: -2.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 5px rgb(168 127 111 / 0.5);
}

